<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1fad029e492ac1f37f8c5d935ad5344a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_1fad029e492ac1f37f8c5d935ad5344a" ></div>
        
</body>
<script>
    
    
            var map_1fad029e492ac1f37f8c5d935ad5344a = L.map(
                "map_1fad029e492ac1f37f8c5d935ad5344a",
                {
                    center: [9.5916, 76.5222],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 8,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_de160a5bdb050714343f40ba5ca5d7e6 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_de160a5bdb050714343f40ba5ca5d7e6.addTo(map_1fad029e492ac1f37f8c5d935ad5344a);
        
    
            var marker_95464296f8aa32cdb7f6189485dd331d = L.marker(
                [9.5, 76.5],
                {
}
            ).addTo(map_1fad029e492ac1f37f8c5d935ad5344a);
        
    
        var popup_e1036ac7b4e1ad036307ac47dee7b5c1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_68973838594b2fa77e0d02d1aa899d34 = $(`<div id="html_68973838594b2fa77e0d02d1aa899d34" style="width: 100.0%; height: 100.0%;">Kollam</div>`)[0];
                popup_e1036ac7b4e1ad036307ac47dee7b5c1.setContent(html_68973838594b2fa77e0d02d1aa899d34);
            
        

        marker_95464296f8aa32cdb7f6189485dd331d.bindPopup(popup_e1036ac7b4e1ad036307ac47dee7b5c1)
        ;

        
    
    
            var marker_98e670355627e1ab609d4effa7127c36 = L.marker(
                [9.5, 76.5],
                {
}
            ).addTo(map_1fad029e492ac1f37f8c5d935ad5344a);
        
    
        var popup_b257b594961cfc1335bc669c60d341df = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_58a05b9d7299a5f34d61e81fe02d0bdd = $(`<div id="html_58a05b9d7299a5f34d61e81fe02d0bdd" style="width: 100.0%; height: 100.0%;">Kottayam</div>`)[0];
                popup_b257b594961cfc1335bc669c60d341df.setContent(html_58a05b9d7299a5f34d61e81fe02d0bdd);
            
        

        marker_98e670355627e1ab609d4effa7127c36.bindPopup(popup_b257b594961cfc1335bc669c60d341df)
        ;

        
    
    
            var marker_c0cb35933fa0a5e53f6895fb5bbfe70b = L.marker(
                [9.5, 76.5],
                {
}
            ).addTo(map_1fad029e492ac1f37f8c5d935ad5344a);
        
    
        var popup_3f819fe786a5b8d59224459821cca0e1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fe5b5308382a0a7921be055cabbe2c09 = $(`<div id="html_fe5b5308382a0a7921be055cabbe2c09" style="width: 100.0%; height: 100.0%;">Pala</div>`)[0];
                popup_3f819fe786a5b8d59224459821cca0e1.setContent(html_fe5b5308382a0a7921be055cabbe2c09);
            
        

        marker_c0cb35933fa0a5e53f6895fb5bbfe70b.bindPopup(popup_3f819fe786a5b8d59224459821cca0e1)
        ;

        
    
</script>
</html>
